<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f37e">  <td>18/03/29 15:22:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite.TC_Buy_a_Product()[pri:0, instance:testcases.TestSuite@464bee09]">TC_Buy_a_Product</td> 
  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/03/29 15:24:06</td>   <td>86601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:testcases.TestSuite@464bee09]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/03/29 15:24:07</td>   <td>87745</td> <td title="&lt;&lt;TestBase.cleanTest()[pri:0, instance:testcases.TestSuite@464bee09]">&lt;&lt;cleanTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/03/29 15:22:40</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initData(java.lang.reflect.Method)[pri:0, instance:testcases.TestSuite@464bee09]">&gt;&gt;initData</td> 
<td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/03/29 15:22:34</td>   <td>-5864</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initDriver()[pri:0, instance:testcases.TestSuite@464bee09]">&gt;&gt;initDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/03/29 15:22:33</td>   <td>-6337</td> <td title="&gt;&gt;TestBase.loadConfig()[pri:0, instance:testcases.TestSuite@464bee09]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
<tr bgcolor="8da5ba">  <td>18/03/29 15:24:06</td>   <td>86605</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quitDriver()[pri:0, instance:testcases.TestSuite@464bee09]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@764577347</td>   <td></td> </tr>
</table>
