<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>18/03/27 23:35:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestSuite.TC_Buy_a_Product()[pri:0, instance:testcases.TestSuite@5442a311]">TC_Buy_a_Product</td> 
  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/27 23:36:25</td>   <td>43545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterTest()[pri:0, instance:testcases.TestSuite@5442a311]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/27 23:36:26</td>   <td>44755</td> <td title="&lt;&lt;TestBase.cleanTest()[pri:0, instance:testcases.TestSuite@5442a311]">&lt;&lt;cleanTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/27 23:35:41</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initData(java.lang.reflect.Method)[pri:0, instance:testcases.TestSuite@5442a311]">&gt;&gt;initData</td> 
<td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/27 23:35:34</td>   <td>-6533</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initDriver()[pri:0, instance:testcases.TestSuite@5442a311]">&gt;&gt;initDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/27 23:35:34</td>   <td>-7106</td> <td title="&gt;&gt;TestBase.loadConfig()[pri:0, instance:testcases.TestSuite@5442a311]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
<tr bgcolor="82f6ef">  <td>18/03/27 23:36:25</td>   <td>43552</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quitDriver()[pri:0, instance:testcases.TestSuite@5442a311]">&lt;&lt;quitDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@267760927</td>   <td></td> </tr>
</table>
